/* .input__container{
    width: 50%;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 16px 16px 4px 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 100px auto;
} */

.input__container input{
  width: 50%;
  height: 50px;
  border-radius: 16px 16px 4px 4px;
  outline: none;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 100px 350px auto ;
}

.customize__password{
    margin: 20px 350px auto ;
    width: 50%;
    height: 350px;
    border: 1px solid #ffffff;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.heading{
 font-size: 24px;
 font-family: sans-serif;   
 padding-left: 30px; 
 border-bottom: 2px solid rgb(206, 201, 201);
 padding-bottom: 10px;
 font-weight: 700;
}

.generate__button button{
    border: none;
    outline: none;
    background: red;
    color: white;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    display: inline;
    margin: 20px auto;
    cursor: pointer;
}

.content{
    padding-left: 100px;
}